/* 鏃堕棿鍦板浘 */
.tabnav { float:left; width:1000px; height:38px; overflow:hidden; border-bottom:1px solid #dedede; padding:0 0 6px;font-family:"Microsoft Yahei"; color:#333; margin-bottom:5px;}
.tabnav h2,.tabnav h3,.tabnav h4{ float:left; line-height:38px; font-size:24px; font-weight:400;}
.tabnav .r{ float:right; color:#ccc; font-size:12px; line-height:48px;}
.tabnav .r a{ color:#333; margin:0 8px;font-size:14px; }
.rowW{ float:left; width:1000px;padding:15px 0 0;overflow:hidden;}
.row{float:left; width:1050px; margin-left:-20px;}
.row .clocks{ float:left; width:172px; text-align:center;font-family:"Microsoft Yahei";}
.row .clocks .name b{ line-height:24px; font-size:16px; font-weight:400;display: inline-block; }
.row .clocks .name span {margin-left: 10px; position: relative; display: inline-block; width:24px; height:20px;line-height:24px;}
.row .clocks .name span img{width:24px; height:20px; position:absolute; top:4px; left:0px;}
.row .clocks .date{ line-height:30px; font-size:14px;}
.row .clocks .time {font-size:12px;margin:8px 0 0 0;text-align:center; height:32px;}
.row .clocks .time span{border-radius:5px;padding:1px 5px 3px 4px;color:#fff;margin:0 4px;background:#222;background:-webkit-gradient(linear,0 0,0 100%,from(#555),to(#000));background:-webkit-linear-gradient(top,#555,#000);background:-moz-linear-gradient(top,#555,#000);background:-ms-linear-gradient(top,#555,#000);background:-o-linear-gradient(top,#555,#000);}
.row .clocks .time span:nth-child(3){color:#333;background:#ddd;background:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#ccc));background:-webkit-linear-gradient(top,#eee,#ccc);background:-moz-linear-gradient(top,#eee,#ccc);background:-ms-linear-gradient(top,#eee,#ccc);background:-o-linear-gradient(top,#eee,#ccc)}
.row .clocks a{text-decoration:none;}
.row .clocks a:hover{ color:#176DB3;}

.row1{ float:left; width:1000px;padding:15px 0 0;overflow:hidden;font-family:"Microsoft Yahei";}
.row1 ul{float:left; width:1050px;}
.row1 ul li{float:left; width:310px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 10px; margin:1px 20px 1px 0;}
.row1 ul li a{color:#176DB3; font-size:14px;}
.row1 ul li i{ font-style:normal; float:right; margin-right:10px; color:#777;}
.row1 .bg{ background:#f8f8f8; }

.row2{ float:left; width:1000px;padding:10px 0 0;overflow:hidden;font-family:"Microsoft Yahei";}
.row2 ul{float:left; width:1050px;}
.row2 ul li{float:left; width:225px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 10px; border-bottom:1px dotted #dedede; margin:0px 20px 0px 0;}
.row2 b{ float:left; font-size:14px; font-weight:400;display: inline-block; }
.row2 span { float:left;margin:7px 10px 0 0; display: inline-block; width:24px; height:20px;line-height:24px;}
.row2 span img{width:24px; height:20px;}
.row2 a:hover{ color:#176DB3;}
.row2 li:hover{ background:#f9f9f9;}



/* 涓栫晫鏃堕棿琛ㄦ牸 */
.c_f00{ color:#f00;}
.m_L20{ margin-left:20px;}

.timetable{float:left; width:998px; border:1px solid #dedede;border-radius:4px 4px 0 0;}
.timetable_top{ float:left; width:100%; background:#E9EFF5; line-height:30px; padding:4px 0; font-size:14px;font-family:"Microsoft Yahei"; position:relative;}
.timetable_top .w1{ float:left; padding:0 0 0 10px; color:#666;}
.timetable_top .w1 i{ font-style:normal; font-size:12px; margin:0 8px;color:#ccc;}
.timetable_top .w1 a{color:#176DB3; font-size:14px;}
.timetable_top .w2{ float:left; width:400px; text-align:center; position:absolute; left:50%; margin-left:-200px; top:4px; line-height:30px;font-size:18px;}
.timetable_top .w3{ float:right;padding:0 10px 0 0;color:#666;}
.timetable_top .w3 em{float:left;}
.timetable_top .w3 .t1{float:left; margin:3px 0 0;}
.timetable_top .w3 .six{ float:right;width:102px;font-size: 14px;  height: 26px; line-height: 26px;background: #fff;  border: 1px solid #777;border-radius:3px;}

.timetable_cont{float:left; width:100%; overflow:hidden;font-family:"Microsoft Yahei";}
.timetable_cont ul{ width:1020px;}
.timetable_cont li{float:left;width:316px; line-height:36px; height:36px;overflow:hidden; padding:0 8px;border:1px solid #ebebeb; border-left:none; border-bottom:none;}
.timetable_cont p{ float:left; width:218px; color:#176DB3;}
.timetable_cont i{ color:#f00; font-style:normal; font-family:Arial;}
.timetable_cont span{ float:right; width:98px; text-align:right; font-family: Arial; color:#777;}
.timetable_cont .dark{background:#f9f9f9;}
.timetable_cont .f1,.timetable_cont a.f1{color:#176DB3;}

.timetable_bottom{ float:left; width:100%; background:#f9f9f9;border-top:1px solid #dedede; line-height:26px; padding:5px 0; font-size:14px;font-family:"Microsoft Yahei"; position:relative;}
.timetable_bottom .w1{ float:left; padding:0 0 0 10px; color:#333; width:60%;}
.timetable_bottom .w3{ float:right;padding:0 10px 0 0;color:#333; width:30%;}
.timetable_bottom b{ color:#176DB3;}

/* 宸� */
.L_box { float:left; width:673px; background:#fff; border: 1px solid #dfdbdb; overflow:hidden; position: relative; border-radius: 5px;  box-shadow: 0 0 4px #f2ecec; font-family:"Microsoft Yahei";}
.L_box .top{ padding:10px 16px 0;}
.L_box .top i{ float:left; width:8px; height:20px; background:#209DD9; margin:6px 8px 0 0;}
.L_box .top .f1{ background:#ED1C66;}
.L_box .top h4{float: left; width:280px; line-height:30px;font-size:24px; font-weight:400; color:#333;}
.L_box .top a.more{float: right;height:30px; line-height:30px;font-size:12px; font-weight:400; color:#176DB3;}
.L_box .cont{float:left;width:673px;height: 339px; overflow:hidden;}
.L_box .cont .row{float:left; width:673px; margin-left:18px;}
.L_box .cont .row .clocks{ margin:25px 52px 22px 0;}
.L_box .cont .row .clocks .utc {font-size:18px;margin:8px 0 0 0;text-align:center; height:30px; color:#777;}
.L_box .cont .row4{float:left; width:673px; margin:10px 0 0 18px;}

.h_20{ border-bottom:1px dotted #ebebeb; height:18px; margin-bottom:18px; display:block;clear:both}

/* 宸� 鏃堕棿琛ㄦ牸 */
.timetable1{float:left; width:673px; border:1px solid #dedede;border-radius:4px 4px 0 0;}
.timetable_top1{ float:left; width:100%; background:#E9EFF5; line-height:30px; padding:4px 0; font-size:14px;font-family:"Microsoft Yahei"; position:relative;}
.timetable_top1 h3{ float:left; padding:0 0 0 10px; line-height:30px;font-size:18px; font-weight:400;}
.timetable_top1 p{float:left;margin-left:10px; color:#777;}
.timetable_cont1{float:left; width:100%; overflow:hidden;font-family:"Microsoft Yahei";}
.timetable_cont1 ul{ width:682px;}
.timetable_cont1 li{float:left;width:320px; line-height:36px; height:36px;overflow:hidden; padding:0 8px;border:1px solid #ebebeb; border-left:none; border-bottom:none;}
.timetable_cont1 p{ float:left; width:218px; color:#176DB3;}
.timetable_cont1 i{ color:#f00; font-style:normal; font-family:Arial;}
.timetable_cont1 span{ float:right; width:98px; text-align:right; font-family: Arial; color:#777;}
.timetable_cont1 .dark{background:#f9f9f9;}
.timetable_cont1 .f1,.timetable_cont1 a.f1{color:#176DB3;}
.timetable_cont2 li{ width:208px;}
.timetable_cont2 p{ float:left; width:130px; color:#176DB3;}
.timetable_cont2 span{ width:78px;}


.tabnav1 { float:left; width:675px; height:38px; overflow:hidden; border-bottom:1px solid #dedede; padding:0 0 6px;font-family:"Microsoft Yahei"; color:#333; margin-bottom:5px;}
.tabnav1 h2,.tabnav1 h3,.tabnav1 h4{ float:left; line-height:38px; font-size:24px; font-weight:400;}
.tabnav1 .r{ float:right; color:#ccc; font-size:12px; line-height:48px;}
.tabnav1 .r a{ color:#333; margin:0 8px;font-size:14px; }
.tabnav1 .r1{ float:right; color:#ccc; font-size:12px; line-height:48px;}
.tabnav1 .r1 a{ color:#777; margin:0 8px;font-size:16px; }
.tabnav2{ border-bottom:none;}
.row3{ float:left; width:675px;padding:5px 0 0;overflow:hidden;font-family:"Microsoft Yahei";}
.row3 ul{float:left; width:700px;}
.row3 ul li{float:left; width:208px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 3px; border-bottom:1px dotted #dedede; margin:0px 20px 0px 0;}
.row3 b{ float:left; font-size:14px; font-weight:400;display: inline-block; }
.row3 span { float:left;margin:7px 10px 0 0; display: inline-block; width:24px; height:20px;line-height:24px;}
.row3 span img{width:24px; height:20px;}
.row3 a:hover{ color:#176DB3;}
.row3 li:hover{ background:#f9f9f9;}

/* 宸� 鍩庡競鏃跺尯淇℃伅 */
.L_box .cont1{float:left;width:609px; padding:5px 32px 5px;line-height:32px; font-size:17px;}
.L_box .cont1 li{ float:left; border-bottom:1px dotted #ebebeb; padding:6px 0;}
.L_box .cont1 em{ float:left; width:100px; padding:0 20px 0 0; text-align:right;}
.L_box .cont1 i{ font-style:normal; color:#999; margin-right:20px;}
.L_box .cont1 p{ float:left; width:489px;}
.L_box .cont1 .b_none{border-bottom:none; }

.sjtq_box{ float:left;width:310px; padding:0px 0px 0px 0px;font-family:"Microsoft Yahei";}
.sjtq_box .w1{ float:left;font-size:14px; color:#666; line-height:30px; margin-bottom:8px;}
.sjtq_box .w1 .t0{ font-size:20px; margin-bottom:5px;line-height:30px;}
.sjtq_box .w1 .t1{ font-size:28px; margin-bottom:2px;line-height:30px;}
.sjtq_box .pic{ float:right; padding:10px 6px 0 0;}
.sjtq_box .pic img{ width:100px; height:100px;}
.sjtq_box .w2{ float:left;width:310px; font-size:16px; color:#666; line-height:44px; border-top:1px solid #ebebeb;}
.sjtq_box .w2 .t2{ float:left;  width:135px;}
.sjtq_box .w2 .t3{ float:left;}
.sjtq_box .w2 .t4{ float:right;}
.sjtq_box a.more{ float:left;color:#176DB3; line-height:36px; font-size:14px;}

/* 鏃ュ嚭鏃ヨ惤 */
.box_rs{ float:right; width:330px; position:relative;font-family:"Microsoft Yahei";}
.box_rs li{ float:left; width:165px; padding:20px 0 0; height:200px;text-align:center; background:#FFF0BD;font-size:20px; line-height:30px; position:relative; margin-bottom:8px;}
.box_rs li img{ display:block; margin:0 auto;}
.box_rs .bg{ background:#FFE9A0;}
.box_rs .b_box{ float:left; width:165px; height:70px; position:absolute; left:0px; bottom:0px;}
.box_rs .b_box em{ float:left; width:165px; height:70px; text-align:center;line-height:36px; font-size:14px; color:#333; position:absolute; left:0px; bottom:0px; z-index:2}
.box_rs .b_box i{ float:left; width:165px; height:70px; background:#000;filter: Alpha(Opacity=5);opacity:0.05; position:absolute; left:0px; bottom:0px; z-index:1}
.box_rs .b_box1{ float:left; width:330px; height:34px; text-align:center; font-size:24px; position:absolute; left:0px; top:180px;}
.box_rs a:hover{text-decoration:none;}
.box_rs li:hover{filter: Alpha(Opacity=85);opacity:0.85;}
.box_rs a.more{ float:left;width:330px;color:#176DB3; line-height:24px; font-size:14px;}
#more_rs,#more_rs1{float:left;color:#176DB3; line-height:24px; font-size:14px; cursor:pointer}
#more_rs1{ display:none;}

.box_rs_more{ float:left; width:675px; overflow:hidden;font-family:"Microsoft Yahei"; display:none;}
.box_rs_more ul{ float:left; width:700px;}
.box_rs_more li{ float:left; width:154px; text-align:center; background:#FFF0BD;font-size:16px; line-height:26px; position:relative; margin:16px 20px 0 0;}
.box_rs_more li .box{float:left; width:154px;padding:10px 0 0; height:130px;}
.box_rs_more .bg{ background:#E1E0DD;}
.box_rs_more .b_box{ float:left; width:154px; height:60px; position:absolute; left:0px; bottom:0px;}
.box_rs_more .b_box em{ float:left; width:154px; height:54px;padding:6px 0 0; text-align:center;line-height:22px; font-size:12px; color:#333; position:absolute; left:0px; bottom:0px; z-index:2}
.box_rs_more .b_box i{ float:left; width:154px; height:60px; background:#000;filter: Alpha(Opacity=5);opacity:0.05; position:absolute; left:0px; bottom:0px; z-index:1}
.box_rs_more a:hover{text-decoration:none;}
.box_rs_more li:hover{filter: Alpha(Opacity=85);opacity:0.85;}

/* 闄勮繎鍩庡競 */
.row6{ float:left; width:675px;padding:4px 0 0 0px;overflow:hidden;font-family:"Microsoft Yahei";}
.row6 ul{float:left; width:675px;}
.row6 ul li{float:left; width:133px; padding:0 0 0 2px; line-height:34px; height:34px; font-size:15px; overflow:hidden;}
.row6 a{ color:#176DB3;}
.row6_1 ul li{width:223px;}

.row7{ float:left; width:675px;padding:10px 0 0;overflow:hidden;font-family:"Microsoft Yahei";}
.row7 ul{float:left; width:700px;}
.row7 ul li{float:left; width:317px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 10px; margin:1px 20px 1px 0;}
.row7 ul li a{color:#176DB3; font-size:14px;}
.row7 ul li i{ font-style:normal; float:right; margin-right:10px; color:#777;}
.row7 .bg{ background:#f8f8f8; }



/* 鍙�300 */
.r_box { float:left; width:298px; background:#fff; border: 1px solid #dfdbdb; position: relative; border-radius: 5px;  box-shadow: 0 0 4px #f2ecec; font-family:"Microsoft Yahei";}
.r_box .top{ padding:10px 16px 0;}
.r_box .top i{ float:left; width:6px; height:11px; background:#209DD9; margin:10px 8px 0 0;}
.r_box .top .f1{ background:#ED1C66;}
.r_box .top .f2{ background:#7DB500;}
.r_box .top h4{float: left;height:30px; line-height:30px;font-size:18px; font-weight:400; color:#333;}
.r_box .top p{float:left;margin-left:6px; color:#777;line-height:30px;font-size:16px;}
.r_box .top a.more{float: right;height:30px; line-height:30px;font-size:12px; font-weight:400; color:#176DB3;}
.r_box .cont{float:left;width:298px;}
.r_box .cont .t1{padding:3px 16px 10px; font-size:12px; line-height:22px;}
.r_box .ss_city3{ float:left;width:266px; padding:10px 16px 0 16px;}
.r_box .ss_city3 .ss_txt{background:#fff; border:1px solid #888;color: #999; float: left; font-size:14px; height:24px;padding:0 0 0 5px;line-height:24px;margin:0;width:155px;font-family:"Microsoft Yahei";}
.r_box .ss_city3 .ss_btn {float: left;width:50px;height:26px; line-height:26px; text-align:center;background:#7DB500;border:1px solid #649100;cursor: pointer;margin:0;outline: medium none;font-size:14px; color:#fff;font-family:"Microsoft Yahei";}
.r_box .ss_city5{ float:left;width:224px; padding:10px 0 15px 74px;background:url("../img/ss_city5.gif") no-repeat 11px 6px;}

.r_box .cont1{ float:left;width:266px; padding:10px 16px 8px 16px;font-size:14px; line-height:32px;}
.r_box .cont1 b{line-height:30px;font-size:16px; font-weight:400; color:#444;}
.r_box .cont1 a{color:#176DB3; margin-right:12px;}
.r_box .cont_b{ float:left; width:298px; background:#FCFCFE; line-height:34px; height:34px; overflow:hidden;font-size:12px; font-weight:400; color:#176DB3;text-align:center;border-radius:0  0 5px 5px;border-top: 1px solid #ebebeb;}
.r_box .cont_b i{ font-style:normal; font-size:12px; margin:0 6px; color:#666;}
.r_box .cont_b a{color:#176DB3;}
.r_box .tool{float:left;width:266px; padding:10px 16px 10px 16px;overflow:hidden;}
.r_box .tool li{float:left;border:1px dotted #dedede; border-left:none; border-top:none;}
.r_box .tool a{display:block; width:60px; height:26px; padding:50px 14px 6px 13px; text-align:center;line-height:24px; background:url("../img/tool_ico.png") no-repeat 22px -1px; margin:0 auto;}
.r_box .tool a:hover{ background-color:#f8f8f8;text-decoration:none;color:#176DB3;}
.r_box .tool .tool_1{}
.r_box .tool .tool_2{background-position:19px -91px;}
.r_box .tool .tool_3{background-position:19px -194px;}
.r_box .tool .tool_4{background-position:20px -320px;}
.r_box .tool .tool_5{background-position:22px -439px;}
.r_box .tool .tool_6{background-position:21px -572px;}
.r_box .tool .b_none{border-bottom:none; }
.r_box .tool .b_none_r{border-right:none; }

.r_box .box{ float:left;width:246px; padding:12px 26px 8px 26px;}
.r_box .box .w1{ float:left;font-size:12px; color:#666; line-height:22px;}
.r_box .box .w1 .t1{ font-size:24px; margin-bottom:2px;line-height:24px;}
.r_box .box .pic{ float:right; padding:0px 4px 0 0;}
.r_box .box .pic img{ width:70px; height:70px;}
.r_box .box .w2{ float:left;width:246px; font-size:13px; color:#666; line-height:36px; border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb; margin:6px 0 0px;}
.r_box .box .w2 .t2{ float:left; padding-right:20px;}
.r_box .box .w2 .t3{ float:left;}
.r_box .box .w2 .t4{ float:right;}


/* 鍥藉椤甸潰 */
.navtab_bt{ margin:2px auto 0; width:1000px;font-family:"Microsoft Yahei";}
.navtab_bt b{ line-height:36px; font-size:28px; font-weight:400;display: inline-block; }
.navtab_bt span {margin-right:10px; position: relative; display: inline-block; width:30px; height:25px;line-height:25px;}
.navtab_bt span img{width:30px; height:25px; position:absolute; top:2px; left:0px;}

.gjtiem_box{ float:left; width:100%; background:#4E9EDE;font-family:"Microsoft Yahei";}
.gjtiem_box .cont{ float:left; width:280px;padding:20px 0 20px;background: #61AAE4;}
.gjtiem_box .cont h4{line-height:48px;font-size:30px; font-weight:400; color:#fff; display:block; text-align:center;}
.gjtiem_box .cont b{line-height:26px; padding:6px 0;font-size:18px; font-weight:400; color:#FFF2C5; display:block; text-align:center;}
.gjtiem_box .cont em{line-height:38px;font-size:18px; font-weight:400; color:#fff; display:block; text-align:center;}
.gjtiem_box .cont .time {font-size:32px;margin: 10px 0 6px 0;text-align:center; height:46px;}
.gjtiem_box .cont .time span{border-radius:5px;padding:1px 5px 3px 4px;color:#fff;margin:0 4px;background:#222;background:-webkit-gradient(linear,0 0,0 100%,from(#555),to(#000));background:-webkit-linear-gradient(top,#555,#000);background:-moz-linear-gradient(top,#555,#000);background:-ms-linear-gradient(top,#555,#000);background:-o-linear-gradient(top,#555,#000);}
.gjtiem_box .cont .time span:nth-child(3){color:#333;background:#ddd;background:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#ccc));background:-webkit-linear-gradient(top,#eee,#ccc);background:-moz-linear-gradient(top,#eee,#ccc);background:-ms-linear-gradient(top,#eee,#ccc);background:-o-linear-gradient(top,#eee,#ccc)}
.gjtiem_box .cont .time strong{font-weight:normal;font-size:18px;margin-left:3px;color:#666}
.gjtiem_box .cont1{ float:left; width:360px; margin-left:40px; padding:10px 0 0;}
.gjtiem_box .cont1 li{ float:left; width:360px; line-height:26px; font-size:14px; color:#fff;}
.gjtiem_box .cont1 em{ float:left; width:100px;}
.gjtiem_box .cont1 p{ float:left; width:260px;color:#FFF2C5;}
.gjtiem_box .map{ float:right;padding:20px 0 0;}
.gjtiem_box .map img{ float:left; border:3px solid #fff; width:300px; height:180px;}

.gjtiem_box1{ float:left; width:100%; background:#F7F3EA; font-size:14px; color:#999; text-align:center;font-family:"Microsoft Yahei";}
.gjtiem_box1 .ss_city4{ float:left;width:300px; padding:10px 0 0 0;}
.gjtiem_box1 .ss_city4 .ss_txt{background:#fff; border:1px solid #666;color: #999; float: left; font-size:16px; height:30px;padding:0 0 0 5px;line-height:30px;margin:0;width:195px;font-family:"Microsoft Yahei";}
.gjtiem_box1 .ss_city4 .ss_btn {float: left;width:80px;height:32px; line-height:32px; text-align:center;background:#7DB500;border:1px solid #649100;cursor: pointer;margin:0;outline: medium none;font-size:18px; color:#fff;font-family:"Microsoft Yahei";}
.gjtiem_box1 .txt{ float:right; }
.gjtiem_box1 .txt .t1{ background:#fff;}
.gjtiem_box1 .txt a{float:left;height:52px; line-height:52px;color:#176DB3; padding:0 20px; font-size:20px;}
.gjtiem_box1 .txt a:hover{ background:#F2EDE2;text-decoration:none;}
.gjtiem_box1 .txt a.t1:hover{ background:#fff;}

.sj_box{ float:left; width:673px; position:relative;}
.sj_boxTop{float:left; height:36px; overflow:hidden;font-family:"Microsoft Yahei"; position:absolute; top:10px; left:12px;}
.sj_boxTop ul{float:left;}
.sj_boxTop li{ float:left;  height:36px;line-height:28px; padding:0 8px; font-size:15px; color:#333;margin:0 20px 0 0;text-align:center;}
.sj_boxTop li.hover{color:#176DB3;background:url("../img/sj_boxTop.gif") no-repeat center 30px;  cursor:pointer}
.sj_boxCont{float:left; width:639px; margin:46px 16px 0; height:203px; overflow:hidden;border-top:2px solid #4E9EDE;}
.row5{ float:left; width:639px;padding:8px 0 0 0px;overflow:hidden;font-family:"Microsoft Yahei";}
.row5 ul{float:left; width:700px;}
.row5 ul li{float:left; width:196px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 3px; border-bottom:1px dotted #dedede; margin:0px 20px 0px 0;}
.row5 b{ float:left; font-size:14px; font-weight:400;display: inline-block; }
.row5 span { float:left;margin:7px 10px 0 0; display: inline-block; width:24px; height:20px;line-height:24px;}
.row5 span img{width:24px; height:20px;}
.row5 a:hover{ color:#176DB3;}
.row5 li:hover{ background:#f9f9f9;}

/* 鍩庡競澶忎护鏃� */
.navtab_bt{ margin:2px auto 0; width:1000px; height:58px; overflow:hidden;font-family:"Microsoft Yahei"; border-bottom:1px solid #dedede;}
.navtab_bt h1,.navtab_bt h2,.navtab_bt h3{ line-height:58px; font-size:26px; font-weight:400;display: inline-block; }

.cont4{ float:left; width:675px;font-family:"Microsoft Yahei";}
.cont4 h3,.cont4 h4{ float:left;width:665px; padding:0 5px;line-height:30px; font-size:20px; font-weight:400;}
.cont4 .t1{ float:left;width:665px; padding:12px 5px;line-height:28px; font-size:14px;border-bottom:1px dotted #dedede; margin:0 0 15px; color:#666;}
.cont4 .t2{ float:left;width:665px; padding:0px 5px;line-height:28px; font-size:16px; color:#333;}
.cont4 .t2 em{ color:#c00;}
.cont4 .ss{ float:right; width:250px;line-height:26px; font-size:14px;}
.form_w0{ float:left;}
.form_w1 select,.form_w2 select { float:left;background: #fafafa;  border: 1px solid #777; font-size: 14px;  height: 26px; line-height: 26px;border-radius:3px; margin:0 4px;}
.form_w3 .btn{ float: left;width:50px;height:26px; margin:0px 0 0; line-height:26px; text-align:center;background:#7DB500;border:1px solid #649100;border-radius:3px;cursor: pointer;outline: medium none;box-shadow: 0 2px 2px rgba(0,0,0,.2);font-size:14px; color:#fff;font-family:"Microsoft Yahei";}

.r_box .c1{float:left; width:266px;padding:3px 16px 10px; font-size:12px; line-height:22px;}
.r_box .c1 li{float:left;width:266px; line-height:34px; font-size:16px; height:34px; overflow:hidden;}
.r_box .c1 i{ float:left; width:4px; height:4px; display:block; overflow:hidden; background:#666; margin:15px 6px 0 0px;}
.r_box .c1 a{ color:#176DB3;}

/* 鏃ュ嚭鏃ヨ惤锛堟湀浠斤級 */
.r_box .c2{float:left; width:266px;padding:3px 16px 10px; font-size:12px; line-height:22px;}
.r_box .c2 p{float:left;width:266px; line-height:28px; font-size:14px; color:#444;}
.r_box .c2 p span{color:#176DB3;}

.table_cont{ float:left; width:675px;font-family:"Microsoft Yahei";}
.table_cont table{ margin:0; padding:0;border-right:1px solid #dedede;border-bottom:1px solid #dedede;}
.table_cont table td,.table_cont table th{ border-left:1px solid #dedede;border-top:1px solid #dedede; padding:6px; text-align:center;font-size:14px; color:#555;}
.table_cont table th{background:#FEFCF0;}
.table_cont table th em{ float:right; padding:0 10px 0 0;}
.table_cont table th .moon1,.table_cont table th .moon2,.table_cont table th .moon3,.table_cont table th .moon4{ float:left; margin:2px 0 0 6px; width:13px; height:13px;background:url("../img/moon1.png") no-repeat 0 0; display:block; overflow:hidden;}
.table_cont table th .moon2{background:url("../img/moon2.png") no-repeat 0 0;}
.table_cont table th .moon3{background:url("../img/moon3.png") no-repeat 0 0;}
.table_cont table th .moon4{background:url("../img/moon4.png") no-repeat 0 0;}
.table_cont .topbg{ background:#FEFCF0;}
.table_cont .topbg td{ font-size:14px; font-weight:700;}
.table_cont .bg{ background:#f7f7f7;}
.table_cont .bg th{ background:#F1EFE5;}
.table_cont table tr:hover{ background:#EFEFEF;}
.table_cont table tr:hover th{ background:#E8E4CF;}
.table_cont table tr.topbg:hover{ background:#FEFCF0;}
.table_cont table tr.topbg1:hover{ background:#fff;}

.cont_page{ float:left; width:675px;font-family:"Microsoft Yahei"; margin-bottom:8px;}
.cont_page a.last,.cont_page a.next{ float:left; width:120px; height:36px; line-height:36px; padding:0 10px; font-size:18px; color:#fff; background:#1ABC9C;}
.cont_page a.next{float:right; text-align:right;}
.cont_page a.last:hover,.cont_page a.next:hover{background:#12AA8C;text-decoration:none;}
.cont_page p{ float:left; width:395px; line-height:36px; font-size:22px; color:#176DB3; text-align:center; font-family:Verdana, Geneva, sans-serif;}


.L_box .cont5{float:left;width:629px; padding:5px 22px 5px;line-height:32px; font-size:18px;}
.L_box .cont5 li{ float:left;width:609px; border-bottom:1px dotted #ebebeb; padding:2px 0;}
.L_box .cont5 em{ float:left; width:100px; padding:0 20px 0 0; text-align:right; line-height:80px;}
.L_box .cont5 .w1{ float:left; width:370px;line-height:80px;}
.L_box .cont5 .w2{ float:left;line-height:80px;}
.L_box .cont5 .w3{ float:left;line-height:80px; width:120px;}
.L_box .cont5 .w4{ float:left;line-height:80px; padding:0 5px 0 0;}
.L_box .cont5 .w5{ float:left;line-height:30px; padding:10px 0;}
.L_box .cont5 .w5 a{color:#176DB3;}
.L_box .cont5 .b_none{border-bottom:none; }

.row8{ float:left; width:675px;padding:15px 0 0; border-top:1px dotted #dedede;overflow:hidden;font-family:"Microsoft Yahei";}
.row8 ul{float:left; width:700px;}
.row8 ul li{float:left; width:317px; line-height:34px; height:34px; overflow:hidden;padding:0 0 0 10px; margin:1px 20px 1px 0;}
.row8 ul li a{color:#176DB3; font-size:14px;}
.row8 ul li p{float:right; margin-right:10px; font-size:14px; color:#444;}
.row8 ul li i{ font-style:normal; margin:0 6px;}
.row8 .bg{ background:#f8f8f8; }

/* 鍖椾含鍜岀航绾︽椂宸� */
.cont6{ float:left; width:300px;padding:0 20px 20px 0;font-family:"Microsoft Yahei"; position:relative;}
.cont6 h4{line-height:56px;font-size:32px; font-weight:400; color:#333; display:block; text-align:center;}
.cont6 b{line-height:34px; padding:6px 0;font-size:24px; font-weight:400; color:#999; display:block; text-align:center;}
.cont6 em{line-height:40px;font-size:22px; font-weight:400; color:#333; display:block; text-align:center;}
.cont6 .time {font-size:48px;margin: 15px 0 6px 0;text-align:center; height:70px;}
.cont6 .time span{border-radius:5px;padding:1px 5px 3px 4px;color:#fff;margin:0 4px;background:#222;background:-webkit-gradient(linear,0 0,0 100%,from(#555),to(#000));background:-webkit-linear-gradient(top,#555,#000);background:-moz-linear-gradient(top,#555,#000);background:-ms-linear-gradient(top,#555,#000);background:-o-linear-gradient(top,#555,#000);}
.cont6 .time span:nth-child(3){color:#333;background:#ddd;background:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#ccc));background:-webkit-linear-gradient(top,#eee,#ccc);background:-moz-linear-gradient(top,#eee,#ccc);background:-ms-linear-gradient(top,#eee,#ccc);background:-o-linear-gradient(top,#eee,#ccc)}
.cont6 .time strong{font-weight:normal;font-size:18px;margin-left:3px;color:#666}
.cont6_r{ float:right;}
.cont6_1{padding:0 0px 20px 0;}
.cont6_1 b{ line-height:30px; font-size:20px;}
.cont6_1 h2{ line-height:48px; font-size:28px;}

.box_time{ float:left; width:180px; line-height:32px;color:#333;font-family:"Microsoft Yahei"; position:absolute; top:68px; right:-126px;}
.box_time em{ float:left; width:40px; text-align:center; font-size:30px; font-weight:700; font-family:sans-serif; line-height:48px; color:#999;}
.box_time ul{ float:left; width:100px;}
.box_time li{ float:left; width:100px; text-align:center; font-size:18px; border-bottom:1px solid #333;}
.box_time .b_none{border-bottom:none;}
.box_time .m1{ margin:16px 0 0;}

.cont7{ float:left; width:675px; padding:0 0 10px;border-bottom:1px dotted #dedede;font-family:"Microsoft Yahei";}
.cont7 .t1{ float:left; width:675px;line-height:30px;font-size:18px; font-weight:400; color:#333;}
.cont7 .t1 em{ color:#c00;}
.cont7 .t2{ float:left; width:675px;line-height:30px;font-size:18px; font-weight:400; color:#333;}
.cont7 .t2 em{float:left; width:60px; color:#c00;}
.cont7 .t2 p{float:left; width:615px; color:#333; font-size:16px;}
.cont7 .t3{float:left; width:675px; line-height:18px; padding:12px 0 0;font-size:14px; font-weight:400; color:#666;}
.cont7 .t4{ float:left; width:675px;line-height:28px;font-size:16px; font-weight:400; color:#333; padding:0 0 2px;}
.cont7_1{ border-bottom:none;}

.cont_w{ float:left; width:336px;}
.cont_w .box{float:left;width:310px; margin:12px 0 12px 20px;border-right:1px solid #ebebeb;line-height:28px; font-size:16px;}
.cont_w .box li{ float:left;width:280px; border-bottom:1px dotted #ebebeb; padding:10px 0;}
.cont_w .box em{ float:left; width:95px; padding:0 0 0 5px; text-align:left;}
.cont_w .box i{ font-style:normal; color:#999; margin-right:20px;}
.cont_w .box p{ float:left; width:180px;}
.cont_w .box .t1{ font-size:24px; text-align:center; margin:6px 0 0;}
.cont_w .box .t2{ font-size:12px;}
.cont_w .box .t3{ text-align:center;}
.cont_w .box .t4{ text-align:center;}
.cont_w .box .t4 .ico{ width:15px; height:15px; display:inline-block; margin-right:6px; position:relative; top:2px; overflow:hidden;background:url("../img/cont_w_ico.gif") no-repeat 0 0;}
.cont_w .box .b_none{border-bottom:none; }
.cont_w .box_r{border-right:none;}
.cont_w .box1{line-height:24px;margin:14px 0 16px 20px;}
.cont_w .box1 li{padding:8px 0;}
.cont_w .box1 .h42{ line-height:42px;}

.row9{ float:left; width:336px; border:1px solid #dedede;overflow:hidden;font-family:"Microsoft Yahei";}
.row9 h4{ float: left; width:100%; text-align:center; background:#E9EFF5; line-height:36px; font-size:18px; font-weight:400;}
.row9 ul{float:left; }
.row9 ul li{float:left;width:300px; line-height:34px; height:34px; color:#555; overflow:hidden;padding:0 26px 0 10px; text-align:right;font-size:14px;border-top:1px solid #dedede;}
.row9 .bg{ background:#f8f8f8;}
.row9_r{border:1px solid #dedede;border-left:none;}
.row9_r ul li{ text-align:left;padding:0 10px 0 26px;}

.row10{ float:left; width:328px; border:1px solid #dedede;overflow:hidden;font-family:"Microsoft Yahei";}
.row10 .top{ float: left; width:100%; text-align:center; background:#E9EFF5; line-height:34px; font-size:16px; font-weight:400;}
.row10 .top .w1{ float:left; padding:0 10px; overflow:hidden; width:180px;border-right:1px solid #dedede; text-align:left;}
.row10 .top .w2{ text-align:right;padding:0 10px;}
.row10 ul{float:left; }
.row10 ul li{float:left;width:300px; line-height:34px; height:34px; color:#555; overflow:hidden;padding:0 14px 0 14px; text-align:right;font-size:14px;border-top:1px solid #dedede;}
.row10 ul li a{color:#176DB3; font-size:14px;}
.row10 ul li em{ font-style:normal; float:left;color:#444;}
.row10 ul li i{ font-style:normal; float:right; color:#444;}
.row10 .bg{ background:#f8f8f8; }
.row10_r{ float:right;}

.city_map{ float:left; width:675px;line-height:30px;font-size:14px; font-weight:400; color:#333; margin:8px 0 0; overflow:hidden;}

/* 鍥藉鑺傛棩 */
.gjjr_ss{ float:left; width:649px; border:1px solid #dedede; border-radius:4px; background:#f8f8f8; padding:8px 12px;line-height:26px; font-size:14px;}
.gjjr_ss.form_w0{ float:left;}
.gjjr_ss .form_w1 select,.gjjr_ss.form_w2 select { float:left;background: #fafafa;  border: 1px solid #777; font-size: 14px;  height: 26px; line-height: 26px;border-radius:3px; margin:0 4px;}
.gjjr_ss .form_w3 .btn{ float: left;width:50px;height:26px; margin:0px 0 0; line-height:26px; text-align:center;background:#7DB500;border:1px solid #649100;border-radius:3px;cursor: pointer;outline: medium none;box-shadow: 0 2px 2px rgba(0,0,0,.2);font-size:14px; color:#fff;font-family:"Microsoft Yahei";}

.table_cont3{ float:left; width:675px;font-family:"Microsoft Yahei";}
.table_cont3 table{ margin:0; padding:0;border-left:1px solid #dedede;border-right:1px solid #dedede;border-bottom:1px solid #dedede;}
.table_cont3 table td,.table_cont3 table th{ border-top:1px solid #dedede; padding:7px 10px; font-size:14px; color:#555;}
.table_cont3 table th{background:#FEFCF0;}
.table_cont3 .topbg{ background:#E9EFF5;}
.table_cont3 .topbg td{ font-size:14px; font-weight:400;border-right:1px solid #dedede; color:#176DB3;}
.table_cont3 .topbg .b_r_none{border-right:none;}
.table_cont3 .bg{ background:#f7f7f7;}
.table_cont3 table tr:hover{ background:#F9FCFF;}
.table_cont3 table tr.topbg:hover{ background:#E9EFF5;}
.table_cont3 select { float:left;background:none;  border:none; font-size: 14px;  height: 20px; line-height: 20px;font-family:"Microsoft Yahei"; color:#176DB3; font-weight:400;}

.R_ss_city{ float:left;width:300px;font-family:"Microsoft Yahei"; margin-bottom:4px;}
.R_ss_city .txt{float: left;width:300px;font-size:18px; height:36px;line-height:30px;font-weight:400; color:#176DB3;}
.R_ss_city .ss_txt{background: none repeat scroll 0 0 transparent; border:1px solid #dedede;color: #999; float: left; font-size:14px; height:28px;padding:0 0 0 5px;line-height:28px;margin:0;width: 213px;font-family:"Microsoft Yahei";}
.R_ss_city .ss_btn {float: left;width:80px;height:30px; line-height:30px; text-align:center;background:#7DB500;border:1px solid #649100;cursor: pointer;margin:0;outline: medium none;font-size:16px; color:#fff;font-family:"Microsoft Yahei";}

.cont8{ float:left; width:675px; padding:0 0 10px;line-height:30px; font-size:16px; color:#555;font-family:"Microsoft Yahei";}
.cont8 img{ display:block; padding:6px 0;}

/* 璧勮椤� */
.r_boxtop{ float:left; width:300px;font-family:"Microsoft Yahei";}
.r_boxtop h4{float: left;height:34px; line-height:34px;font-size:20px; font-weight:400; color:#333;}
.r_boxtop_cont{float:left; width:300px; margin:4px 0; position:relative;}
.r_boxtop_cont ul{float:left;width:297px;border-left:3px solid #ebebeb;}
.r_boxtop_cont li{float:left;width:285px; padding:0 0 0 12px;  font-size:18px; line-height:32px; height:32px; overflow:hidden; color:#666; font-family:sans-serif;}
.r_boxtop_cont a{ color:#176DB3;font-size:14px;font-family:"Microsoft Yahei";}
.r_boxtop_cont .w1,.r_boxtop_cont .w2{ float:left; width:5px; height:11px; background:#fff; display:block; overflow:hidden; position:absolute; left:0px;}
.r_boxtop_cont .w1{ top:0px;}.r_boxtop_cont .w2{ bottom:-2px;}

.article { float:left; width:675px; line-height:30px;font-size: 14px;color: #333;font-family:"Microsoft Yahei";}
.article p {margin: 0 0 7px;}
.article h2, .article h3 {margin: 22px 0 8px;font-size: 26px;font-weight: 400;color: #444;}
.article img {max-width:675px; margin:0 auto; padding:0 0 6px;display:block;}
.article a{color: #176db3;}
.article .lead {font-size: 16px;font-style: italic;margin-bottom: 15px;}
.article .large_link{font-size: 21px;}

.htags {float:left; width:675px;font-size:16px;padding-left:28px; color:#666; margin:10px 0; background: url("../img/bx.png") left 6px no-repeat; line-height:30px;font-family:"Microsoft Yahei";}
.htags a{color: #176db3; margin:0 4px;}

.c_bg1{ float:left; width:100%; background:#f9f9f9; border-top:1px dotted #dedede;}
.fixed {width: 1000px;  margin:0 auto; position: relative;font-family:"Microsoft Yahei";}
.fixed h2{margin: 20px 0 18px;font-size:26px;font-weight: 400;color: #333; text-align:center;}
.fixed li{float: left; width:228px;padding: 0 11px;position: relative;}
.fixed img{float:left; width:206px; height:138px; background:#fff; padding:3px; border: 1px solid #dfdbdb; position: relative; border-radius: 3px;  box-shadow: 0 0 4px #f2ecec; }
.fixed h3{float: left; width:228px;margin:8px 0 2px;font-size:16px;font-weight: 400;color: #333; text-align:center;}
.fixed p{float: left; width:228px;margin:4px 0 2px;font-size:12px; line-height:20px; height:40px;font-weight: 400;color: #666; text-align:center; overflow:hidden;}
.fixed a{color:#176db3;}
.fixed a.read_more {color:#176db3;}

/* 浠婂ぉ鏄粈涔堣妭鏃� */
.c_bg2{ float:left; width:100%; background:#fbfbfb; padding:20px 0;border-top: 6px solid #EBEBF0;}
.cont_jrbox1{padding:10px 16px 0;clear:both;font-family:"Microsoft Yahei";}
.cont_jrbox1 .t1,.cont_jrbox1 .t2,.cont_jrbox1 .t3{ float:left; width:170px; line-height:32px; font-size:16px; text-align:center; color:#666;}
.cont_jrbox1 .t3{ text-align:left; text-indent:26px;}
.cont_jrbox1 .t3 a{color:#176db3;}
.cont_jrbox2{float:left; width:298px; padding:15px 16px 6px;line-height:26px; font-size:14px;clear:both;}
.cont_jrbox2 .form_w0{ float:left;}
.cont_jrbox2 .form_w1 select{ float:left; width:190px;background: #fafafa;  border: 1px solid #777; font-size: 14px;  height: 26px; line-height: 26px;border-radius:3px; margin:0 4px;}
.cont_jrbox2 .form_w3 .btn{ float: left;width:50px;height:26px; margin:0px 0 0; line-height:26px; text-align:center;background:#7DB500;border:1px solid #649100;border-radius:3px;cursor: pointer;outline: medium none;box-shadow: 0 2px 2px rgba(0,0,0,.2);font-size:14px; color:#fff;font-family:"Microsoft Yahei";}
.rd_box .cont_b3{font-size: 14px;line-height:40px;  height:40px;}

a.cal_display1 {background: url("../img/bg_cal_1.png") 0 0 no-repeat;width:87px;height:83px; padding:14px 12px 0 0;text-align:center;font-family:"Microsoft Yahei";position: absolute; right:12px; top:48px;color: #fff;text-decoration: none;float: right;cursor: pointer;}
.cal_display1 .cal_m{ font-size:12px; display:block; line-height:26px;}
.cal_display1 .cal_d{ font-size:36px; display:block; line-height: 40px; color:#333;}

.cont_01{padding:10px 10px 10px; line-height:24px;clear:both; height:179px; overflow:hidden;}
.cont_01 ul li{float:left; width:100%; font-size:17px; line-height:28px; height:28px; overflow:hidden; color:#666; font-family:sans-serif;}
.cont_01 a{ color:#176DB3;font-size:14px;font-family:"Microsoft Yahei";}
.cont_01_1{ height:138px; }

.rd_box01{float:left; width:314px; background:#fff; border: 1px solid #dfdbdb;  position: relative; border-radius: 5px;  box-shadow: 0 0 4px #f2ecec; margin-right:18px;font-family:"Microsoft Yahei";}
.rd_box01 .top{ padding:10px 16px 0;}
.rd_box01 .top i{ float:left; width:6px; height:11px; background:#209DD9; margin:10px 8px 0 0;}
.rd_box01 .top .f1{ background:#3FA2A0;}
.rd_box01 .top .f2{ background:#8F4BC7;}
.rd_box01 .top h4{float: left;height:30px; line-height:30px;font-size:18px; font-weight:400; color:#333;}
.rd_box01 .top a.more{float: right;height:30px; line-height:30px;font-size:12px; font-weight:400; color:#176DB3;}
.rd_box01 .row01{padding:10px 16px 0;clear:both; height:189px; overflow:hidden;font-family:"Microsoft Yahei";}
.rd_box01 .row01 ul{float:left;}
.rd_box01 .row01 ul li{float:left; width:92px; padding:0 0 0 2px; line-height:34px; height:34px; font-size:15px; overflow:hidden;}
.rd_box01 .row01 a{ color:#176DB3;}
.rd_box01 .cont_b{ background:#FCFCFE; line-height:40px; height:40px; overflow:hidden;font-size:14px; font-weight:400; color:#176DB3;text-align:center;border-radius:0  0 5px 5px;border-top: 1px solid #ebebeb;}
.rd_box01 .cont_b i{ font-style:normal; font-size:12px; margin:0 6px; color:#666;}
.rd_box01 .cont_b a{color:#176DB3;}
.rd_box01_r01{ margin-right:0px; float:right;}

.boxContW1{ float:left; width:650px; position:relative;}
.boxTop1{float:left; height:30px; overflow:hidden;font-family:"Microsoft Yahei"; position:absolute; top:0px; left:12px;}
.boxTop1 ul{float:left;}
.boxTop1 li{ float:left;  height:28px;line-height:28px; padding:0 15px; font-size:15px; color:#176DB3; background:#eee;border:1px solid #dfdbdb;border-bottom:1px solid #dfdbdb;border-radius:5px 5px 0 0; margin:0 8px 0 0;text-align:center;}
.boxTop1 li.hover{ background:#fff;border:1px solid #dfdbdb;border-bottom:1px solid #fff;color:#333; cursor:pointer}
.boxCont1{float:left; width:648px; height:215px; overflow:hidden; margin:29px 0 0; background:#fff; border: 1px solid #dfdbdb;  border-radius: 5px;  box-shadow: 0 0 4px #f2ecec;font-family:"Microsoft Yahei";}
.boxCont1 .picbox{ float:left; width:590px; margin:30px 0 0 30px; overflow:hidden;}
.boxCont1 .picbox img{ float:right; width:200px; height:132px; background:#fff; border: 1px solid #ebebeb; padding:2px;  border-radius:1px;  box-shadow: 0 0 4px #f2ecec;}
.boxCont1 .picbox h4{ float:left; width:370px; height:24px; line-height:24px; font-size:16px; font-weight:400; overflow:hidden; margin-bottom:4px;}
.boxCont1 .picbox h4 a{ color:#176DB3;}
.boxCont1 .picbox i{ float:left; width:370px; height:30px; line-height:30px; font-size:14px; color:#999; overflow:hidden;}
.boxCont1 .picbox p{float:left; width:370px; line-height:24px; font-size:12px; color:#666;overflow:hidden;}
.boxCont1 .picbox p a{color:#176DB3;}
.boxCont1 .picbox1{ float:left; width:648px; margin:20px 0 0 0; overflow:hidden;}
.boxCont1 .picbox1 h4{ float:left; width:680px; height:22px; line-height:24px; text-indent:26px; font-size:16px; font-weight:400; overflow:hidden; margin-bottom:0px;color:#176DB3;}
.boxCont1 .picbox1 .cont_02{padding:6px 20px 0px; line-height:24px;clear:both; height:116px; margin-bottom:10px; overflow:hidden;}
.boxCont1 .picbox1 .cont_02 li{float:left; width:152px; font-size:17px; line-height:28px; height:28px; overflow:hidden; color:#666; font-family:sans-serif;}
.boxCont1 .picbox1 .cont_02 a{ color:#444;font-size:14px;font-family:"Microsoft Yahei";}
.boxCont1 .picbox1 .cont_b{float:left; width:636px; padding:0 12px 0 0; background:#FCFCFE; line-height:40px; height:40px; overflow:hidden;font-size:14px; font-weight:400; color:#176DB3;text-align:right;border-radius:0 0 5px 5px;border-top: 1px solid #ebebeb;}
.boxCont1 .picbox1 .cont_b a{color:#176DB3; margin:0 4px;}



/* 骞垮憡 */
.ad_r1{ width:300px; height:250px; background:#F8F17E; margin-bottom:12px;}
.ad_r2{width:300px; height:250px; background:#F8F17E;}




/* 鏃跺樊鎼滅储 */
div.wrapper.search{background:#eee;background:-webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#ccc));background:-webkit-linear-gradient(top,#eee,#ddd);background:-moz-linear-gradient(top,#eee,#ddd);background:-ms-linear-gradient(top,#eee,#ddd);background:-o-linear-gradient(top,#eee,#ddd);border-bottom:1px solid #ccc}div.wrapper.search div.content{padding:0 10px}div.wrapper.search div.content div h4{margin:0 0 5px 0;font-size:1.4em;font-weight:normal}div.wrapper.search div.content div input{border-radius:3px;border:1px solid #999;color:#666;background:#f5f5f5;padding:3px 6px;font-size:1.2em;font-weight:lighter}div.wrapper.search div.content div input[type=text]:focus{border:1px solid #2e52a4;background:#fff}div.wrapper.search div.content div#search_results{position:absolute;z-index:999;max-height:500px;overflow-y:scroll;overflow-x:hidden;background:#fff;border:1px solid #ccc;border-top:none;padding:0;width:312px;line-height:1.7em;box-shadow:3px 3px 3px #ddd}div.wrapper.search div.content div#search_results a{margin:0;border-top:1px solid #f5f5f5;position:relative;padding:1px 8px;display:block;cursor:pointer}div.wrapper.search div.content div#search_results a:hover{background:#f5f5f5}div.wrapper.search div.content div#search_results a:nth-child(1){padding-top:3px;border:none}div.wrapper.search div.content div#search_results a span{float:right;margin-right:20px;color:#999;font-size:0.9em}div.wrapper.search div.content div#search_results a span img.city{position:absolute;top:6px;right:8px}div.wrapper.search div.content div#search_results a span img.country{position:absolute;top:10px;right:5px}div.wrapper.search div.content div#search_results a span img.timezone{position:absolute;top:6px;right:5px}div.wrapper.search div.content div#search_results p.noresults{padding:10px;margin:0;color:gray}div.wrapper div.content div#s_results{line-height:2em;min-height:50px}div.wrapper div.content div#s_results a{margin:0;border-top:1px solid #f5f5f5;position:relative;padding:1px 8px;display:block;cursor:pointer}div.wrapper div.content div#s_results a:hover{background:#f5f5f5}div.wrapper div.content div#s_results a:nth-child(1){padding-top:3px;border:none}div.wrapper div.content div#s_results a span{float:right;margin-right:20px;color:#999;font-size:0.9em}div.wrapper div.content div#s_results a span img.city{position:absolute;top:6px;right:8px}div.wrapper div.content div#s_results a span img.country{position:absolute;top:10px;right:5px}div.wrapper div.content div#s_results a span img.timezone{position:absolute;top:6px;right:5px}div.wrapper div.content div#s_results p.noresults{padding:10px;margin:0;color:gray}div.wrapper.search div.content div#locations{padding:10px 0}div.wrapper.search div.content div#locations h4 span{padding:0 0 0 10px;color:#999;font-weight:lighter;font-size:0.9em}div.wrapper.search div.content div#locations h4 span a{color:#999;text-decoration:none}div.wrapper.search div.content div#locations h4 span a:hover{text-decoration:underline}div.wrapper.search div.content div#locations input#distance_one,div.wrapper.search div.content div#locations input
#distance_two{width:300px;margin:3px 15px}div.wrapper.search div.content div

